{% extends 'base.html.twig' %}

{% block connexion %}
<div id="menu" style="align-content: flex-start;">
    <ul>
        <li class="active">
            <a href={{ path('fos_user_registration_register')}}>Inscription</a>
        </li>
        <li>
            <a href={{ path('fos_user_security_login')}}>Connexion</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}

<div id="banner"></div>
    <div id="page" class="container">
        <div class="row">
            <div class="mainbox">
                <h2>Ma carte perso</h2>
                <div class="box">
                    <div id="map" class="map"></div>
                    <span id="zoom">Trouvez l'échoppe qui vous ressemble !</span>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}