{% extends 'base.html.twig' %}

<div id="header" class="container">
        <div id="logo">
            <h1><a href="#">My éshop !</a></h1>
        </div>
            
        <div id="menu">
            <ul>
                <li class="active">
                    <a href="#" acceskey="1">Accueil</a>
                </li>
                <li>
                    <a href="#" acceskey="2">Les échoppes</a>
                </li>
                <li>
                    <a href="#" acceskey="3">Articles</a>
                </li>
                <li>
                    <a href="#" acceskey="4">A propos</a>
                </li>
                <li>
                    <a href="#" acceskey="5">Nous contacter</a>
                </li>
            </ul>
            <div class="raw">
                <div class="col-6"></div>
                <form action="" class="form-inline my-2 my-lg-0" accesskey="6">
                <div class="col-3">
                    <input class="form-control mr-sm-2" type="search" placeholder="Mon échoppe" aria-label="Search">
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher mon échoppe</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div id="banner"></div>
    <div id="page" class="container">
        <div class="row">
            <div class="col-9">
                <div class="mainbox">
                    <h2>Ma carte perso</h2>
                    <div class="box">
                        <div id="map" class="map"></div>
                        <span id="zoom">Trouvez votre échoppe !</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h2>Ajoutez votre échoppe !</h2>
                <form action="../controller/add_poi.php" method="post">
                    <p>Nom échoppe <input type="text" name="echoppe" /></p>
                    <p>Latitude <input type="value" name="latitude"  /></p>
                    <p>Longitude <input type="value" name="longitude" /></p>
                    <p><input type="submit" value="OK" name="submit" /></p>
                </form>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-3">
                <p>Nom de l'échoppe</p>
            </div>
              <div class="col-3">
                <p>Latitude</p>
            </div>
              <div class="col-3">
                <p>Longitude</p>
            </div>
          </div>
        <?php foreach ($pois as $poi) {
    ?>
          <div class="row">
              <div class="col-3">
                  <p><?php echo $poi['name']; ?></p>
              </div>
              <div class="col-3">
                  <p><?php echo $poi['lat']; ?></p>
              </div>
              <div class="col-3">
                  <p><?php echo $poi['lng']; ?></p>
              </div>
              <div class="col-2">
                <p><a href="../controller/edit_poi.php?id=<?php echo $poi['poi_id']; ?>">Modifier</a></p>
              </div>
              <div class="col-1">
                <form action="../controller/delete_poi.php?id=<?php echo $poi['poi_id']; ?>" method="post">
                  <p><input type="submit" value="Supprimer POI" name="submit" /></p>
                </form>
              </div>
          </div>
        <?php
} ?>
    </div>

    <div id="carrousel" class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/css/images/jurasserie-fine.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Article 1</h5>
                        <p>Blabla 1</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/css/images/charlicot.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Article 2</h5>
                        <p>Blabla 2</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/css/images/auvergnat.jpeg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Article 3</h5>
                        <p>Blabla 3</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>

    <div id="featured" class="container">
    <div class="align-left">
      <span class="fa fa-pagelines"></span>
    </div>
    <div class="align-right">
      <p>This is <strong>PlainLeaf</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free
        template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)
      </p>
      <a href="#" class="button">Etiam posuere</a>
    </div>
  </div>