<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}Mon échoppe préférée{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
        <link href="../assets/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('build/web.css') }}">
        {% endblock %}

    </head>


    <body>

        {% block navbar %}

        <div id="header" class="container">
            <div id="logo">
                {# <h1><a href={{ path('map_browse') }}>My éshop !</a></h1> #}
            </div>
        </div>

        {% block connexion %}{% endblock %}
                
            <div id="menu">
                <ul>
                    <li class="active">
                        <a href="#" acceskey="1">Accueil</a>
                    </li>
                    <li>
                        <a href="#" acceskey="2">Les échoppes</a>
                    </li>
                    <li>
                        <a href="#" acceskey="3">Articles</a>
                    </li>
                    <li>
                        <a href="#" acceskey="4">A propos</a>
                    </li>
                    <li>
                        <a href="#" acceskey="5">Nous contacter</a>
                    </li>
                </ul>
                <div class="raw">
                    <div class="col-6"></div>
                    <form action="" class="form-inline my-2 my-lg-0" accesskey="6">
                    <div class="col-2">
                        <input class="form-control mr-sm-2" type="search" placeholder="Mon échoppe" aria-label="Search">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher mon échoppe</button>
                    </div>
                    </form>
                </div>
            </div>

        {% endblock %}


        {% block body %}{% endblock %}

        {% block javascripts %}
        <script src="{{ asset('build/web.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>
